<h1>La lista</h1>
<hr/>
<h2>Adicionar</h2>
<section>
  <input type="text" [formControl]="rentInput" required>
  <select [formControl]="horizonsSelect">
    <option *ngFor="let h of horizonsValues" value="{{h.id}}">{{h.label}}</option>
  </select>
  <button (click)="onAdd()" [disabled]="!rentInput.valid">Add</button>
</section>
<hr>
<app-list [values]="values" [horizons]="horizons" (deleteEmitter)="onDeleteItem($event)"></app-list>
