<label>Ordenar</label>
<select (change)="onOrder()" [formControl]="orderSelect">
  <option value="1" selected>Menor a Mayor</option>
  <option value="-1">Mayor a Menor</option>
</select>
<label>Filtrar</label>
<select (change)="onFilter()" [formControl]="filterSelect">
  <option *ngFor="let h of horizons" value="{{h.id}}">{{h.label}}</option>
</select>
<ul>
  <ng-container *ngIf="filtered.length > 0">
    <li *ngFor="let i of filtered">Rent :{{i.rent}} - Horizon: {{i.horizon.label}} <a style="cursor: pointer" (click)="onDelete(i.id)">- delete</a>
    </li>
  </ng-container>
  <ng-container *ngIf="filtered.length === 0">
    <h3>No results</h3>
  </ng-container>
</ul>
